.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px outset #0080ff;
  text-align: center;
  margin: 1em;
  padding: 1em;
  flex-basis: 20%;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 1em;
  padding: 1em;
  flex-basis: 20%;
}

.form-control {
  display: flex;
  width: fit-content;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.eventForm {
  z-index: 1;
  min-height: 25rem;
  min-width: fit-content;
  background-color: hsla(0, 0%, 100%, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  align-content: center;
}

.eventCard,
.eventDetail {
  border: 1px outset #0080ff;
  text-align: center;
  margin: 1em;
  padding: 1em;
  flex-basis: 20%;
}
