.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px outset #0080ff;
  text-align: center;
  margin: 1em;
  padding: 1em;
  flex-basis: 20%;
}

.eventCard,
.eventDetail {
  display: block;
  border: 1px outset #0080ff;
  text-align: center;
  margin: 1em;
  padding: 1em;
  flex-basis: 20%;
}
