/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
textarea {
  height: fit-content;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

input,
select,
textarea {
  width: 85%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong,
ul,
li {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

fieldset {
  min-width: 0;
  padding: 1rem 0;
  margin: 1px;
  border: 0;
  display: block;
}

button {
  display: inline-block;
  height: fit-content;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 10px;
}
