/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Fjalla One");

/*Typography
--------------------------------------------------------------*/
body,
textarea {
  height: fit-content;
  color: #404040;
  font-family: "Fjalla One", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.form {
  background-color: #eaebed;
}

input,
select,
textarea {
  width: 85%;

  background-color: #eaebed;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-family: "Fjalla One", Arial, sans-serif;
  letter-spacing: 2px;
  background-color: #eaebed;
}

p {
  margin-bottom: 1.5em;
  background-color: #eaebed;
  color: darkslateblue;
}

strong,
ul,
li {
  font-weight: bold;
  background-color: #eaebed;
}

address {
  background-color: #eaebed;
  margin: 0 0 1.5em;
}

fieldset {
  background-color: #eaebed;
  min-width: 0;
  padding: 1rem 0;
  margin: 1px;
  border: 0;
  display: block;
}

button {
  display: inline-block;
  height: fit-content;
  color: #404040;
  font-family: "Fjalla One", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 10px;
}
