.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.navbar__item {
  flex-basis: 20%;
}

.menu__link {
  text-align: center;
}

.dashboard {
  display: block;
  justify-content: space-evenly;
  text-align: center;
  margin: 1em;
  padding: 1em;
  flex-basis: 20%;
}
